{% load extras %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NathanMovies</title>
    {% block js %}
    {% endblock %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
</head>
<body class="bg-secondary">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'home' %}">NathanMovies</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{% url 'home' %}">Movies</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'peoples' %}">Peoples</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" id="searchBar" type="search" placeholder="" aria-label="Search">
                        <a class="btn btn-outline-light" id="searchButton" href="#" data-url="" type="submit">Search</a>
                    </form>
                </div>
            </div>
        </nav>
        <script>
            let searchButton = document.getElementById("searchButton");
            let searchBar = document.getElementById("searchBar");

            searchBar.addEventListener("change", function () {
                let url = searchButton.getAttribute("data-url");
                searchButton.href = `${url}search=${searchBar.value}`;
            })
        </script>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>